
html {
    scroll-behavior: smooth;
  }
  .inline-block {
    display:inline-block;
    vertical-align: top;
    /*border: 2px solid red;*/
    
}
header {
    background-color:#008080;
    padding: 1%;
    overflow:hidden;
    
    
    
}

.logo {
    /*width: 43%;
    padding:10px;*/
    background-color:#008080;
    margin: 0 auto;
   
}

name {
   
   padding:.30%; 
    width:auto;
    background-color: #008080;
    margin: 0 auto;
    text-align: center;
    vertical-align:middle;
    font-family: "Brown Sugar",serif;
    font-size:24px;
    font-weight:525;
   margin-left:25px ;
   color:#FFFFFF;
}
.logo  img{
    width:100px;
    height:100px;
    
}


    
nav {
    background-color:#008080;
    margin: 0 auto;
    float: right;
  overflow:hidden;
  vertical-align:top;
    
    
    }
   
    

nav ul {
    width:450px;
    float: right;
    background-color: #008080;
}
.topnav a {
    float: left;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

   .topnav a:link {
    color:white;
    background-color: transparent;
    text-decoration: none;
  } 

  .topnav a:visited {
    color:#FFFFFF;
    background-color: transparent;
    text-decoration: none;
  } 
  .topnav a:hover {
    color:#333333 ;
    text-decoration: underline;
  }
  .topnav a:active {
    color:#d45b53;
      background-color: transparent;
      text-decoration: underline
} 
  .topnav .icon {
    display: none;
  }


    /*nav ul li a:link {
        color:white;
        background-color: transparent;
        text-decoration: none;
      }
      

     nav ul li a:visited {
        color:#FFFFFF;
        background-color: transparent;
        text-decoration: none;
      }
      nav ul li a:hover {
        color:#333333 ;
        text-decoration: underline;
      }
    nav ul li a:active {
        color:#d45b53;
        background-color: transparent;
        text-decoration: underline;
      }*/
  

.heroimg {
    height:850px;
    padding:30px;
    margin-top:2%;
    background-image: linear-gradient(to bottom, #FFFFFF, #E1E1E1);
    
}
.content {
    width:600px;
    
    margin:0 auto;
    text-align:center;
    box-shadow: 4px 4px 6px #888888;
    
    
    }

.content img {
        
        width:400px;
        margin-top: 15px;
       
        }
.content h1 {
    font-family:"playfair Display", serif;
    color: #d45b53;
}

.content p {
    font-family:"playfair Display", serif; 
    color:#333333; 
    padding:0% 3% 0% 3%;
    text-align:justify;

}

 button {
    background-color:#008080;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "playfair Display", serif;
    font-size: 16px;
    border-radius: 30px;
    transition-duration: 0.4s;
    margin-bottom: 20px;
    box-shadow:0 4px:#008080;
    cursor:pointer;

   
 }
button:hover {
background-color:#333333;
color: white;
}
button:active {
    background-color:#d45b53;
    box-shadow: 0 3px #d45b53;
    transform: translateY(-6px);
}

 
 
.flexContainer {
    display:flex;
    justify-content:space-around;
    width:100%;
    
    

}
#mySkills {
    background-image: linear-gradient(to bottom,#E1E1E1, #D9D9D9);
      
}

#mySkills h1 {
    text-align: center;
    font-size:50px;
    margin-top: -1.65%; 
    font-family:"playfair Display", serif;
    color:#333333;
 }
.skillCard {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    width:25%;
    text-align: center;
    padding:0% 4% 0% 4%;
    /*outline: 1px solid red;*/
   
}


.skillCard img {
    
    width:100%;
    /*outline: 1px solid red;*/
   
}
.skillCard p {
   
    text-align:justify;
    
    font-size: 18px;
   
  
 
}
#myWork-Grid h1 {
    text-align: center;
    font-size: 50px;
    padding:2%;
    justify-items: center;
    font-family: "playfair Display", serif;
    color:#333333;
}
#myWork-Grid {
    display:grid;
    grid-template-rows: max-content 3fr 3fr 3fr max-content;
    width: 100%;
    background-image: linear-gradient(to bottom, #D9D9D9, #008080);
    

}
.Project-card {
    display:grid;
    grid-template-columns: 50% 50%;
    column-gap:0.5%;
    padding:0% 0% 0% 10%;
    

}
.project-details {
    width:70%;
    justify-content: center;
   
}
.cs_mockup {
    width:80%;
    padding:2%;
    transition: transform .2s;

    
}
.cs_mockup:hover {
    transform:scale(1.1);
}
.project-details button {
    
   position: relative;
   top: 10%; 
    left: 50%;
   -ms-transform: translate(-30%, -70%);
    transform: translate(-50%, -50%);

}
#myWork-Grid h4 {
    text-align: right;
    padding:0% 25% 0% 0%;
  

    
}

#contact-Grid {
    display:grid;
    background-image: linear-gradient(to bottom, #008080,#008080);
    height:350px;
    

}



#contact-Grid h1{
    margin-top:10px;

    text-align: center;
    font-size: 50px;
    color:#FFFFFF;
    justify-items: center; 
    
}



.contact-card {
    display:grid;
    grid-template-columns: 50% 50%; 
    column-gap:0.5%;
    text-align: center;
    margin-bottom: 200px;
   

   

}

.email {  
    width:100%;
    justify-content: center;
    font-size: larger;
    color:#FFFFFF;
}

.myLinkedin {
    width:100%;
    justify-content: center;  
    font-size: larger;
    color:#FFFFFF;
}
.myLinkedin a:link {
    color:#FFFFFF;
}
.myLinkedin a:visited {
    color:#FFFFFF;

}
.myLinkedin a:hover {
    color:#333333;

}
.myLinkedin a:active {
    color:#d45b53;

}



  
 
    
footer.inline-block {
    display:inline-block
    vertical-align:middle;
    
}

footer {
    background-color: #333333;
    overflow:hidden;
    /*position:fixed;*/
    /*position:sticky;*/
    /*border: 2px solid red;*/
    
}

footer ul {
    display:inline-block;
    vertical-align:middle;
    background-color: #333333;
   width:50%;
   float:left;
}

footer ul li {
    margin-left: 2%;
    margin-right:2%;
    text-align:center;
    font-family: "Manrope", Sans-serif;
    font-size: 18px;
    
  /*  background-color:#333333; */
    

}
footer ul li a:link {
    color:#008080;
    background-color: transparent;
    text-decoration: none;
  }
footer ul li a:visited {
    color:  #008080;
    background-color: transparent;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    color:#FFFFFF;
    background-color: transparent;
    text-decoration: underline;
  }
  footer ul li a:active {
    color:#d45b53;
    background-color: transparent;
    text-decoration: underline;
  }

 
 .corporatelogo {
    display:block;
    justify-items:center;
    float:right;

   
 }
 footer .corporatelogo p {
    color:white;
   
 }

 .corporatelogo img {
    width:100px;
    height:100px;
    
    vertical-align:bottom;
    
 }
 




 @media screen and (max-width:600px) {
    
    .topnav a:not(.icon) {display: none;}
    .topnav a.icon {
      float:right;
      display:block;
    }
}
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display:block;
      text-align:center;
    }
    .topnav a:hover {
        color:#FFFFFF;
          background-color:#333333;
          text-decoration: none;
      }
      .topnav a:active {
        color:#d45b53;
          background-color:#333333;
          text-decoration: none;
      }
    
    .flexContainer {
        flex-direction: column;
        align-items: center;

    }
    .skillCard {
      width:75%;
      
    }

    #myWork-Grid {
        align-content:center;
    }
    .Project-card {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 100%;
        align-content: center;
        justify-items: center;
        padding: 0% 0% 0% 0%;
    }
    
    .contact-card {
        grid-template-rows:max-content 1fr 1fr;
        grid-template-columns: 100%;
    }
    
    .content {
        width:fit-content;
       
    }
    
    .heroimg {
        height:500px;
        padding:10%;
        
    }
    .content img {
        
        width:200px;
        margin-top: 15px;
  
    }
    
    .content p {
        
        color:#333333; 
        font-size: 14px;
    }
    
    #myWork-Grid h4 {
        text-align:center;
        padding:0%
}
footer ul li {
    float: none;
  /*  display:block; */
    
    text-align: left;
  }
  footer .inline-block {
    display:block;
    vertical-align:top;
  }
  footer ul{
    float: none;
  }
    
  
   .corporatelogo  {
    color:white;
    text-align:center;
    float:none;
    justify-items: center;
      
    
}
.inline-block {
    overflow:hidden;
}

}

